<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
<script type="text/javascript">

function submitData(){

        console.log($('#json').val());
        console.log(JSON.parse($('#json').val()));
        console.log($('#processdata').prop('checked'));
        console.log($('#traditional').prop('checked'));
        console.log($('#traditional').prop('checked'));
        var data = "<note><to>Tove</to><from>Jani</from><heading>Reminder</heading><body>Do not forget me this weekend!</body></note>";
        $.ajax({
                type: 'post',
                data: data,
                dataType: 'text',
                url: $('#url').val(),
                contentType : "text/xml; charset=utf-8",
                processData: $('#processdata').prop('checked'),
                traditional: $('#traditional').prop('checked'),
                success: function(data){
                        $('#result').val(JSON.stringify(data));
                },
                error: function(data){
                        $('#result').val(JSON.stringify(data));
                }
        });
        
}
</script>
</head>
<body>

URL<br>
<input type="text" id="url" value="http://localhost:8089/manage/admin/apiGet" style="width:300px;"><br>
<br>
<textarea id="json" style="width:300px;height:200px;">{"race_code":"2014060805030211","nickname":"テスト","marks":[{"horse_number":"2009106353","mark":"○"},{"horse_number":"2008102985","mark":""},{"horse_number":"2008102652","mark":""},{"horse_number":"2009105009","mark":""},{"horse_number":"2009106035","mark":""},{"horse_number":"2008103388","mark":""},{"horse_number":"2008101020","mark":""},{"horse_number":"2009106461","mark":"△"},{"horse_number":"2008105554","mark":"▲"},{"horse_number":"2011103916","mark":"◎"},{"horse_number":"2008100544","mark":""},{"horse_number":"2007190006","mark":""},{"horse_number":"2009105771","mark":""},{"horse_number":"2008103244","mark":""},{"horse_number":"2009106230","mark":""},{"horse_number":"2006105511","mark":""},{"horse_number":"2009105989","mark":"△"}]}</textarea>
<br>
<input type="checkbox" id="processdata" checked> processData <input type="checkbox" id="traditional"> traditional <input type="checkbox" id="parse" checked> parse   <br>
<input type="button" onclick="submitData();" value="送信">
<br>
<br>
<textarea id="result" style="width:300px;height:200px;"></textarea>

</body>
</html>
